.cartContainer{
    width: 400px;
    background-color: whitesmoke;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -400px;
    box-sizing: border-box;
    text-align: left;
    padding: 18px;
    transition: ease-in-out 300ms;
    color: black;
    & .closeIcon{
        font-size: 32px;
        color: black;
        cursor: pointer;
        width: 100%;
        text-align: right;
        box-sizing: border-box;
    }
    & .cartListContainer{
        height: 80vh;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    & .title{
        color: black;
        margin: 0;
    }
    & .clearCart{
        width: 100%;
        margin: 0;
        margin-top: auto;
        text-align: center;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
    &.active{
        right: 0px;
    }
}