@import '../../variables/variables.scss';

.item{
    width: calc(100% - 30px);
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    margin: 0 auto;
    margin-top: 30px;
    font-family: $fontPoppins;
    &__image{
        width: 100%;
        max-width: 200px;
        object-fit: cover;
        box-sizing: border-box;
        margin: 0 auto;
    }
    &__content{
        box-sizing: border-box;
        padding: 0px 30px;
    }
    &__title{
        text-align:  left;

    }
    &__price{
        text-align: left;
    }
    &__description{
        text-align: left;
        margin-bottom: 30px;
    }
}
.itemCount{
    margin: 0 auto;
    margin-left: 0;
}

@media only screen and (max-width: 720px) {
    .item{
        width: calc(100% - 30px);
        grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    }
    .itemCount{
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 530px) {
    .item{
        &__content{
            text-align: center;
        }
    }
    .itemCount{
        margin: 0 auto;
        margin-bottom: 30px;
    }
}