.cartCheckout__container{
    width: 90%;
    max-width: 1280px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    box-sizing: border-box;
    & h2{
        margin-bottom: 0px;
    }
    & .btn-goToShop{
        width: 100%;
        max-width: 150px;
        text-align: center;
        cursor: pointer;
        border-radius: 6px;
        border: none;
        height: 48px;
        margin-top: 15px;
        background-color: black;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        &:hover{
            background-color: rgb(53, 53, 53);
        }
    }
    & .btn-clear{
        width: 40%;
        margin-top: 30px;
        text-align: center;
        cursor: pointer;
        border-radius: 6px;
        border: 1px solid black;
        height: 48px;
        background-color: transparent;
        color: black;
        font-weight: 600;
        text-transform: uppercase;
        &:hover{
            background-color: hsl(0, 0%, 90%)
        }
    }
}

.cartCheckout__items{
    width: 60%;
    padding-right: 30px;
    box-sizing: border-box;
    & .title{
        font-family: $fontPoppins !important;
    }
}

.cartCheckout__form{
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
    position: sticky;
    top: 0px;
    & .input-style{
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        border: 1px solid hsl(0, 0%, 70%);
        border-radius: .25rem;
        box-sizing: border-box;
        margin: 10px 0;
        font-family: $fontPoppins;
        transition: border-color .15s ease-in-out,
                    box-shadow .15s ease-in-out;
        &:focus{
            border-color: hsl(0, 0%, 0%);
            outline: 0;
        }
        &.error{
            border-color: hsl(0, 100%, 50%);
            color: hsl(0, 100%, 50%);
        }
    }
    & label{
        color: hsl(0, 100%, 50%);
        display: block;
    }
    & .col-2{
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        box-sizing: border-box;
        & div{
            display: flex;
            flex-flow: column;
            width: 60%;
            box-sizing: border-box;
            &:last-child{
                width: 40%;
                padding-left: 20px;
            }
        }
    }
    & .btn-orderGenerate{
        width: 100%;
        text-align: center;
        cursor: pointer;
        border-radius: 6px;
        border: none;
        height: 48px;
        margin-top: 15px;
        background-color: black;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        &:hover{
            background-color: rgb(53, 53, 53);
        }
    }
}

@media only screen and (max-width: 720px) {
    .cartCheckout__container{
        flex-flow: column;
        & .btn-clear{
            margin: 40px auto 0px auto;
        }
    }
    .cartCheckout__items{
        width: 100%;
        padding: 0;
    }
    .cartCheckout__form{
        width: 100%;
        & .btn-orderGenerate{
            margin-bottom: 30px;
        }
    }
}

@media only screen and (max-width: 400px){
    .cartCheckout__container{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        & .btn-clear{
            width: 100%;
            margin: 15px auto 0 auto;
        }
    }
    .cartCheckout__items{
        & a{
            display: inline-block;
            width: 100%;
            padding-top: 0;
        }
    }
    
}